<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 w-full">
  <ng-container *ngIf="stock$ | async as stockData">
    <app-stock-card
      class="w-full"
      title="Estoque"
      costPrice="{{ stockData.totalCostPrice }}"
      salesPrice="{{ stockData.totalSalesPrice }}"
      description="custo - venda"
      quantity="{{ stockData.quantity }}"
    />
  </ng-container>
  <ng-container *ngIf="totalSales$ | async as salesData">
    <app-sales-card
      class="w-full"
      title="Vendas"
      value="{{ salesData.value }}"
      quantity="{{ salesData.quantity }}"
      description="Vendas totais"
    />
  </ng-container>
</div>
